{{outlet}}

{{#file-picker fileLoaded=(action 'fileLoaded' passThrough) readAs='readAsText'}}
  Drag here or click to upload a file
{{/file-picker}}

{{#if content}}
  <p class='content'>
    {{content}}
  </p>
{{/if}}
